php_flag display_errors 0
php_flag log_errors 1
php_flag html_errors 0

DirectoryIndex index.php

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !\.(js|ico|html?|css|gif|png|jpe?g|txt|zip)$
RewriteRule . index.php [L]
