<?php
defined('BASEPATH') OR exit('No direct script access allowed');

// github secret used to verify webhooks
$config["GITHUB_SECRET"] = '';
// host secret to verify cron jobs
$config['CRON_SECRET'] = '';

